<html>
    <head>
        <link rel="stylesheet" type="text/css">
    </head>
    <style>
        *{
            margin: 0px auto;
           
        }
        .wrapper{
            width:700px;
            height: 650px;
            margin:5px;
            border: 1px solid black;   
            text-align: center; 
            
        }
        .header{
            width:690px;
            height:100px;
            background-color: blueviolet;
        }

        #pic{
            width: 250px;
            display: inline-block;
            margin-top: 5px;
        }
        #pic img{
            border-radius: 50%;
            margin-top: 5px;
        }
    </style>
    <body>
        <div class="wrapper">
            <div class="header"><h1>html cats</h1></div>
            <div id="pic">
                <a href="cuddle"><img src="cat1.jpg" alt="cat1" height="160" width="200"></a>
                <a href="little"><img src="cat2.jpg" alt="cat2" height="160" width="200"></a>
                <a href="white"><img src="cat3.jpg" alt="cat3" height="160" width="200"></a>
            </div>
        </div>


    </body>
</html>