<html>
    <head>
        <link rel="stylesheet" type="text/css">
    </head>
    <style>
       

    </style>
    <body>
        <div class="wrapper">
            <div class="header"><h1>Details Page for white!</h1></div>
            
            <div class="foot">
                
                    <div class="header"><h1>name: <%= name %></h1></div>
                    <img src="<%= image %>" height="200" width="360">
                    
                    <div class="header"><h1>Favorite food: <%= food %></h1></div>
                    <div class="header"><h1>Age:<%= age %></h1></div>
                    
                
            </div>
            
        </div>


    </body>
</html>