<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome to the Great Number Game!</h1>
        <p>i am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        
        <% if (guess === "high"){ %>
            <div id = "one" class="status">
                <p>TOO HIGH</p>
            </div>
            <form class="" action="/process" method="post">
                <input type="text" name="guess"><br>
                <input type="submit" name="submit" value="Submit" class="submit">
            </form>
        <% } else if (guess === "low"){ %>
            <div id="two" class="status">
                <p>TOO LOW</p>
            </div>
            <form class="" action="/process" method="post">
                <input type="text" name="guess"><br>
                <input type="submit" name="submit" value="Submit" class="submit">
            </form>
        <% } else if (guess === "correct"){ %>
            <div class="status">
                <p>CORRECT</p>
                <a href="/reset"><button type="button" name="button">Reset</button></a>
            </div>
        <% } else { %>
            <form class="" action="/process" method="post">
                <input type="text" name="guess"><br>
                <input type="submit" name="submit" value="Submit" class="submit">
            </form>
        <% } %>
    </body>
</html>