<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
       <p> <%= body.name %></p>
       <p> <%= body.location %></p>
       <p> <%= body.language %></p>
       <p> <%= body.comment %></p>
       

    </body>
</html>